
GO
/****** Object:  Table `TNewsType`    Script Date: 02/24/2019 16:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE `TNewsType`(
	`id` INT IDENTITY(1,1) NOT NULL,
	`Name` varchar(50) NULL,
	`ParentId INT NULL,
	`IsDeleted` INT NOT NULL,
	`LastUpdateDate` DATETIME NULL,
	`LastUpdateBy` varchar(20) NULL,
	`CreateDate` DATETIME NOT NULL,
	`CreateBy` varchar(20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	`id` ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON `PRIMARY`
) ON `PRIMARY`
GO
ALTER TABLE `TNewsType`  WITH CHECK ADD  CONSTRAINT `FK_TNewsType_ParentId FOREIGN KEY(`ParentId)
REFERENCES `TNewsType` (`id`)
GO
ALTER TABLE `TNewsType` CHECK CONSTRAINT `FK_TNewsType_ParentId
GO
